.main-title {
	text-align: center;
	font-family: "Arsenal", "Monospace", serif;
	font-size: xx-large;
}

.game-view {
	border-width: 1px;
	margin:0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#canvas {
	border: medium inset #f9f06b;
	background: #ffffff;
	width: 100%; /* Fill the container */
	height: 100%; /* Fill the container */
	box-sizing: border-box;
}