.main-title {
	text-align: center;
}

.game-view {
	height: 100vh;
	margin:0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#canvasContainer {
	width: 80vmin;
	/* 80% of the smaller dimension (width or height) of the viewport */
	height: 80vmin; /* Same as width to maintain 1:1 aspect ratio */
	display: flex;
	justify-content: center;
	align-items: center;
}

#canvas {
	border: medium inset #f9f06b;
	background: #ffffff;
	width: 100%; /* Fill the container */
	height: 100%; /* Fill the container */
	box-sizing: border-box;
}